/* buttons */
.p-button {
    padding: 0 !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    margin: 0 !important;
    box-shadow: 3px 3px 5px 0px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-button {
    background-color: #003fec !important;
    border: 2px solid #0031b9 !important;
    color: white !important;
}
.blue-button:hover {
    background-color: #205cff !important;
}
.blue-button:active {
    position: relative !important;
    top: 1px !important;
}

.turquoise-button {
    background-color: #00ecad !important;
    border: 2px solid #00b988 !important;
    color: black !important;
}
.turquoise-button:hover {
    background-color: #20ffc3 !important;
}
.turquoise-button:active {
    position: relative !important ;
    top: 1px !important ;
}

.gray-button {
    background-color: #4e4e4e !important;
    border: 2px solid #343434 !important;
    color: white !important;
}
.gray-button:hover {
    background-color: #686868 !important;
}
.gray-button:active {
    position: relative !important ;
    top: 1px !important ;
}

.lightblue-button {
    background-color: #00c2fe !important;
    border: 2px solid #009bcb !important;
    color: black !important;
}
.lightblue-button:hover {
    background-color: #32cfff !important;
}
.lightblue-button:active {
    position: relative !important ;
    top: 1px !important;
}

.red-button {
    background-color: #ff0709 !important;
    border: 2px solid #d30002 !important;
    color: white !important;
}
.red-button:hover {
    background-color: #ff3133 !important;
}
.red-button:active {
    position: relative !important ;
    top: 1px !important;
}

.p-dropdown {
    padding: 0 !important;
}

.loading-container {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.loading-image {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    height: 200px;
    width: 200px;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
