.no-auth-left {
    background-image: url("../assets/bg.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-auth-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
@media (max-width: 768px) {
    .no-auth-left {
        display: none;
    }
    .no-auth-right {
        background-image: url("../assets/bg.png");
        height: 100vh;
        padding: 1rem;
    }
}
.no-auth-logo {
    height: 200px;
    width: 200px;
}
